@using DrinkItUpWebApp.Models
@model DrinkWithDetailsModel

@{
    int quantity = 0;

}
<div class="d-flex h-100 justify-content-center align-items-center stopka">
    <div>
        <img src="~/img/sampledrink.png" class="foto pinkborda mx-1" />
    </div>

    <div class="d-inline-block mx-1">
        <p class="display-5 fw-bolder">@Model.Name</p>
        <p class="lead fw-bolder">Alkohol dominujący: @Model.MainAlcohol.Name</p>
        <p class="lead fw-bolder">Poziom trudności: @Model.Difficulty.Name</p>
        <p class="lead fw-bolder">Składniki:</p>
        <ul>
        @foreach(var ingredient in Model.Ingredients)
        {
            @if(ingredient.Quantity != 0)
            {
            @if(ingredient.Quantity % 1 == 0)
                {
                    quantity = (int)ingredient.Quantity;
                    <li class="lead fw-bold">@ingredient.Name: @quantity @ingredient.Unit.Name</li>
                }
                else
                {
                    <li class="lead fw-bold">@ingredient.Name: @ingredient.Quantity @ingredient.Unit.Name</li>
        
                }
            }
            else
            {
            <li class="lead fw-bold">@ingredient.Name: @ingredient.Unit.Name</li>
            }
        }
        </ul>
        <p class="lead fw-bolder">Opis przygotowania: </p>
        <p class="lead fw-bolder">@Model.Description</p>
    </div>

</div>